{
  "singleQuote": true,
  "tabWidth": 2,
  "bracketSpacing": false,
  "bracketSameLine": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "printWidth": 80,
  "jsxSingleQuote": true,
  "endOfLine": "auto"
}
